<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivy League Admission Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="top"> <h1>Ivy League Admission Predictor</h1>
        </div>
        <div class="header">
            <img src="{{ url_for('static', filename='university.jpg') }}" alt="university" class="university">
        </div>
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="gre_score">GRE Score:</label>
                <input type="number" id="gre_score" name="gre_score" step="1" min="0" max="340" placeholder="0-340" value="{{ request.form.gre_score }}" required>
            </div>
            <div class="form-group">
                <label for="toefl_score">TOEFL Score:</label>
                <input type="number" id="toefl_score" name="toefl_score" step="1" min="0" max="120" placeholder="0-120" value="{{ request.form.toefl_score }}" required>
            </div>
            <div class="form-group">
                <label for="lor">LOR:</label>
                <input type="number" id="lor" name="lor" step="0.5" min="1" max="5" placeholder="{{ lor_mean }} (default)" value="{{ request.form.lor }}">
                <small class="note">Note: If left blank, the average value ({{ lor_mean }}) will be used for LOR.</small>
            </div>
            
            <div class="form-group">
                <label for="cgpa">CGPA:</label>
                <input type="number" id="cgpa" name="cgpa" step="1" min="0" max="10" placeholder="1-10" value="{{ request.form.cgpa }}" required>
            </div>
            <div class="form-group">
                <label for="research">Research:</label>
                <input type="number" id="research" name="research" min="0" max="1" placeholder="0 or 1" value="{{ request.form.research }}" required>
            </div>
            <button type="submit" class="submit-button">Predict</button>
        </form>
        <div class="prediction">
            <h2>{{ prediction_text }}</h2>
        </div>
        <form action="/" method="get">
            <button type="submit" class="clear-button">Clear</button>
        </form>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <footer class="footer">
        <p>AKASH V S</p>
        <a href="mailto:your-akashvs7707@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://github.com/AKASH7707/ML-Driven-Ivy-League-Admission-Predictor" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </footer>
</body>
</html>
